<div class="row mb-4 text-center">
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title text-white">A Pagar (Em Dia)</h5>
                <p class="card-text fs-4 fw-bold text-white">R$ {{ total_em_dia|brcurrency }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <h5 class="card-title text-white">Total Vencido</h5>
                <p class="card-text fs-4 fw-bold text-white">R$ {{ total_vencido|brcurrency }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title text-white">Quitado (Este Mês)</h5>
                <p class="card-text fs-4 fw-bold text-white">R$ {{ total_quitado_mes|brcurrency }}</p>
            </div>
        </div>
    </div>
</div>